/*
!.gitignore
!pkg_neno.xml
!script.php
!README.md
!/administrator
/administrator/*
!/administrator/components
/administrator/components/*
!administrator/components/com_neno/
!/administrator/language
/administrator/language/*
!/administrator/language/*/*.com_neno.ini
!/administrator/language/*/*.com_neno.sys.ini
!/components
/components/*
!/components/com_neno/
!/layouts
/layouts/*
!/layouts/libraries
/layouts/libraries/*
!/layouts/libraries/neno
!/libraries
/libraries/*
!/libraries/neno
!media
media/*
!media/neno
!/plugins
/plugins/*
!/plugins/system
/plugins/system/*
!/plugins/system/neno
!tests
!composer.json
!LICENSE.txt
tests/_output/*
!codeception.yml
!codeception.dist.yml
!cli/
cli/*
!/cli/neno.php
!pack.php
!.travis.yml
!RoboFile.php