.idea/
/.htaccess
/administrator/
!/administrator/components/com_neno
!/administrator/language/*/*.com_neno.sys.ini
!/administrator/language/*/*.com_neno.ini
/cache/
/bin/
/cli/
/components/
!/components/com_neno/
/images/
/includes/
/installation/*
/language/
/layouts/
!/layouts/libraries/neno/
/libraries/
!/libraries/neno/
/logs/*
/media/*
!/media/neno
/modules/*
/plugins/*
!/plugins/system/neno/*
/templates/*
/tmp/*
/configuration.php
/index.php
/*.txt
/vendor/*
robots.txt.dist
composer.phar