<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/unit/bootstrap.php" colors="false">
    <php>
        <const name="JTEST_DATABASE_MYSQLI_DSN"
               value="host=127.0.0.1;dbname=neno-testing;user=root;pass=Salobre7a"/>
        <const name="JTEST_HTTP_STUB" value="http://localhost/neno/tests/unit/stubs/jhttp_stub.php"/>
    </php>

    <testsuites>
        <testsuite name="neno">
            <directory>tests/unit/suites/libraries/neno</directory>
        </testsuite>
    </testsuites>
</phpunit>
