<?xml version="1.0" encoding="utf-8"?>
<!--suppress ALL -->
<config>
	<fieldset label="COM_NENO"
	          name="neno">

	</fieldset>
	<fieldset
			name="permissions"
			description="JCONFIG_PERMISSIONS_DESC"
			label="JCONFIG_PERMISSIONS_LABEL">

		<field
				name="rules"
				type="rules"
				component="com_neno"
				class="inputbox"
				filter="rules"
				validate="rules"
				label="JCONFIG_PERMISSIONS_LABEL"
				section="component"/>
	</fieldset>
</config>