/**
 * Translation progress bar
 */
.translation-progress-bar .word-count {
    float: left;
    text-align: right;
    width: 40px;
    padding-right: 4px;
}
.translation-progress-bar .bar {
    width: 120px;
    height: 14px;
    margin-left: 44px;
    margin-top: 2px;
}
.translation-progress-bar .bar div {
    height: 100%;
    float: left;
}
.translation-progress-bar .translated {
    background-color: #6BC366;
}
.translation-progress-bar .queued {
    background-color: #368AB6;
}
.translation-progress-bar .changed {
    background-color: #FAC819;
}
.translation-progress-bar .not-translated {
    background-color: #DB3F35;
}
.translation-progress-bar .bar-disabled div {
    background-color: #CACACA;
}
.loading {
    background: url('../images/loading_mini.gif') center left no-repeat;
    height: 14px;
    width: 14px;
    margin-top: 7px;
    margin-left: 23px;
}
.icon-checkmark {
    color: #65D074;
    height: 14px;
    width: 14px;
    margin-top: 7px;
    margin-left: 23px;
}
