.js-stools-field-filter {
    width: auto;
}

.js-stools-field-filter select {
    width: 100%;
    margin-bottom: 5px !important;
    text-align: left;
}

#results-wrapper {
    float: left;
    margin-top: 5px;
    overflow-x: hidden;
}

#j-sidebar-container {
    padding-left: 10px;
}

#j-sidebar-container form {
    margin-bottom: 0 !important;
}

.filter-tag {
    opacity: 1 !important;
    filter: alpha(opacity=1);
    padding-left: 5px !important;
    clear: both;
    float: left;
    margin-bottom: 7px !important;
}

.removeTag {
    font-size: 10px;
    cursor: pointer;
    opacity: 0.65 !important;
    filter: alpha(opacity=0.65);
}

.removeTag:hover {
    color: #b94a48;
}

.multiselect-wrapper {
    margin: 0 5px 0 0 !important;
}

#results-wrapper {
    width: 96%;
    margin-bottom: 60px;
}

#results-wrapper .status {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    float: left;
    margin: 4px;
}

#results-wrapper .status.translated {
    background-color: #0ba14b;
}

#results-wrapper .status.queued {
    background-color: #1e8ab6;
}

#results-wrapper .status.changed {
    background-color: #f19d1a;
}

#results-wrapper .status.not-translated {
    background-color: #e61e26;
}

#results-wrapper .string {
    line-height: 22px;
    overflow: hidden;
}

#results-wrapper .string-text {
    margin-left: 18px;
}

#elements-wrapper {
    background-color: white;
    border: 1px solid #ddd;
    padding: 5px 0;
    overflow-x: hidden;
    max-height: 300px;
}

#editor-strings-title {
    margin-bottom: 5px;
    font-weight: bold;
    display: block;
}
.string:hover {
    color: #333;
    cursor: pointer;
    background-color: #eee;
}
.string-activated:hover,
.string-activated {
    background-color: #155184;
    color: white;
}
