.schedule-task-options,
.control-group {
    margin: 20px 0;
}
.installation-bottom {
    margin-top: 50px;
    margin-left: 0 !important;
}

.schedule-task-option {
    border: 1px solid #ccc;
    /*background-color: #fefefe;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;*/
}
.schedule-task-option p,
.schedule-task-option div {
    text-align: left !important;
}
.schedule-task-option.selected {
    -webkit-box-shadow: 0px 0px 7px 2px rgba(168,168,168,1);
    -moz-box-shadow: 0px 0px 7px 2px rgba(168,168,168,1);
    box-shadow: 0px 0px 7px 2px rgba(168,168,168,1);
}
.doc {
    border: 1px solid #ccc;
    background-color: #fafafa;
    padding: 10px;
}
.doc h3 {
    padding-top: 10px;
}
/**** REMOVE THIS RULE WHEN "LEARN MORE" MESSAGES ARE SET ****/
.doc a {
    display: none;
}
.default-method-selectors {
    padding-top: 10px;
}
.default-method-selectors .control-label,
.default-method-selectors .controls {
    padding-top: 5px;
}
#languages-modal .modal-body {
    max-height: 500px;
    overflow-y: scroll;
}
#languages-modal td {
    line-height: 28px !important;
}
.loading {
    background: url('../images/loading_mini.gif') center left no-repeat;
    height: 14px;
    width: 14px;
    margin-top: 7px;
    margin-left: 23px;
}
.icon-cancel-2,
.icon-checkmark {
    color: #0ba14b;
    height: 14px;
    width: 14px;
    margin-top: 7px;
    margin-left: 23px;
}
.icon-cancel-2 {
    color: #e61e26;
}
.task-message {
    margin-bottom: 20px;
    font-style: italic;
}
