
#workingLangSelect a {
    color: #d9d9d9;
    text-decoration: none;
}

#workingLangSelect a:hover {
    color: #fff
}

#workingLangSelect .caret {
    border-top: 4px solid #d9d9d9;
}

#workingLangSelect {
    display: inline-block;
    /*margin: 0px;*/
    font-size: 14px;
}

#workingLangSelect li {
    list-style-type: none;
    padding: 0;
}

#workingLangSelect .dropdown-menu a {
    text-shadow: none;
    color: #000;
}

#workingLangSelect .dropdown-menu a:hover {
    color: #fff;
}

#workingLangSelect .dropdown-toggle {
    margin-left: 5px;
}
.neno-no-button {
    outline: 0;
    background: none;
    border: 0;
    cursor: default;
    font-size: 14px;
    margin-right: 20px;
}

