.icon-48-translations {
    background-image: url(../images/l_translations.png);
    padding-left: 60px !important;
}

.icon-48-translation {
    background-image: url(../images/l_translations.png);
    padding-left: 60px !important;
}

.icon-48-sources {
    background-image: url(../images/l_sources.png);
    padding-left: 60px !important;
}

.icon-48-source {
    background-image: url(../images/l_sources.png);
    padding-left: 60px !important;
}

